.google-map {
  .map-autocomplete {
    position: absolute;
    top: 10px;
    left: 10px;
    min-width: 200px;

    input {
    }
  }

  .gmnoprint {
    left: inherit;
    top: inherit;
    right: 60px;
    bottom: 14px;
  }
}

[data-theme='dark'] {
  .google-map {
    .map-autocomplete {
      input {
        color: rgba(0, 0, 0, 0.85);
        background-color: #fff;
        background-image: none;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
      }
    }
  }
}
